body {
	/*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
}
a {
	color: #fff;
	text-decoration: none;
	transition: all 500ms ease;
}
a:hover {
	color: #FC6;
}



/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */

::-moz-selection {
 background: #fcd700;
 color: #fff;
 text-shadow: none;
}
::selection {
	background: #fcd700;
	color: #fff;
	text-shadow: none;
}
/*	j.mp/webkit-tap-highlight-color */

a:link {
	-webkit-tap-highlight-color: #fcd700;
}
ins {
	background-color: #fcd700;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #fcd700;
	color: #000;
	font-style: italic;
	font-weight: bold;
}



/* Mozilla dosen't style place holders by default */

input:-moz-placeholder {
 color:#a9a9a9;
}
 textarea:-moz-placeholder {
 color:#a9a9a9;
}
/********** basic input  ***********/

input, textarea, select {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #E9E9E9;
	transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
	-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
	-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
	-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}
input:focus, textarea:focus, select:focus {
	border-color: #6A3005;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(0, 0, 0, 0.6);
	outline: 0 none;
	background-color: #fff;
}
input[type="checkbox"], input[type="radio"] {
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 0px;
}
input[type="text"], input[type="password"] {
	background-image: url(images/input-bg.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}
select {
	background-image: url(images/input-select.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}
 input::-webkit-input-placeholder {
 color: #a1b2c3;
}
 input:-moz-placeholder {
 color: #a1b2c3;
}
/********* custom ********/


.wapper {
	width: 96%;
	max-width: 1200px;
	margin: 0 auto
}
.section {
	float: left;
	width: 100%
}
.toparea {
	background-image: url(images/top-bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
}
.contentarea {
	background-color: #dbdde0;
	padding: 20px;
}
.content {
	float: left;
	width: 89%;
	background-color: #FFF;
	padding: 2%;
}
.menus {
	float: right;
	width: 10%;
	max-width: 183px;
	margin-left: 1%;
}
.menus ul li {
	background-image: url(images/btn-normal.png);
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	margin-bottom: 10px;
	float: left;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.menus ul li a {
	color: #274869;
	height: 55px;
	width: 183px;
	padding-left: 35px;
	padding-top: 17px;
	float: left;
	text-decoration: none;
}
.menus ul li a:hover, .menus ul li:hover {
	background-image: url(images/btn-normal-active.png);
	color: #FFF;
}
.menus ul li ul {
	padding: 0;
	position: absolute;
	top: 0px;
	right: 210px;
	width: 150px;
	z-index: 6;
	display: none;
	opacity: 0;
	visibility: hidden;
	border: solid 1px #ccc;
	border-top: none;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}
.menus ul li ul li {
	display: block;
	color: #fff;
	background-image: none;
	background-color: #ccc;
	margin: 0;
	border-top: solid 1px #ADADAD;
}
.menus ul li ul li, .menus ul li ul li a {
	height: auto;
}
.menus ul li ul li a {
	padding: 5px 10px;
}
.menus ul li ul li:hover, .menus ul li ul li a:hover {
	background-image: none;
	background-color: #6590ca;
	color: #fff
}
/*.menus ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}*/
.menus ul li ul.visible {
   display: block;
	opacity: 1;
	visibility: visible;
}
/********* bottom menu  ***************/


.bottommenu {
	background-image: url(images/bottom-bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 10px;
	padding-bottom: 20px;
	height: 181px;
}
.bottommenu ul {
	display: inline;
}
.bottommenu ul li {
	font-size: 14px;
	background-image: url(images/btn-round.png);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	float: left;
	height: 160px;
	width: 160px;
	margin-right: 3%;
	display: inline-block;
	position: relative;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor: pointer;
}
.bottommenu ul li a {
	height: 160px;
	padding-top: 65px;
	float: left;
	width: 160px;
	padding-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}
.bottommenu ul li a:hover, .bottommenu ul li:hover {
	color: #FFF;
	background-image: url(images/btn-round-active.png);
}
.bottommenu ul li ul {
	padding: 0;
	position: absolute;
	bottom: 158px;
	left: 0;
	width: 150px;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}
.bottommenu ul li ul li {
	display: block;
	color: #fff;
}
.bottommenu ul li ul li:hover {
}
.bottommenu ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}
.content form input[type="submit"], .modal-box form input[type="submit"], .btn_submit, .frmFldAcc button {
	background-image: url(images/btn-submit.png);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	height: 45px;
	width: 173px;
	background-color: transparent;
	border: none;
	font-weight: bold;
	color: #FFF;
    font-size: x-large;
}
.content form label, .modal-box form label {
	text-transform: capitalize;
  margin-right: 3%;
  float: left;
  font-size: 120%;
  margin-top: 7px;
  color: #2B2B2B;
}
.modal-box {
	width: 900px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(images/page-bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding: 30px;
}
.modal-box input, .modal-box select { margin-bottom:30px}
.closebtnarea {
	text-align: right;
	float: left;
	width: 100%;
}
.halfcol { width:50%; padding:3%; float:left}
/********* tabs ***************/
.tabs-menu {
	
	float: left;
	clear: both;
}
.tabs-menu li {
	height: 38px;
	float: left;
	width: 183px;
	color: #FFF;
	text-align: center;
	background-image: url(images/tab-bg.png);
	line-height: 35px;
}
.tabs-menu li.current {
	position: relative;
	z-index: 5;
	background-image: url(images/tab-bg-active.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.tabs-menu li a {
	text-transform: uppercase;
	color: #036;
	text-decoration: none;
	padding: 10px;
}
.tabs-menu .current a {
	color: #FFFFFF;
}
.tab {
	float: left;
	width: 100%;
	background-color: #dedfe1;
	background-image: url(images/tab-body-bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.tab-content {
	display: none;
}
.tabtitle {
	background-image: url(images/title-bg.gif);
	background-repeat: repeat-x;
	height: 96px;
	text-align: center;
	padding-top: 30px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 200%;
	font-weight: normal;
}
.tabtitle img {
	margin-right: 20px;
}

.tabinner {
	width: 92%;
	background-color: #b3b7be;
	background-image: url(images/tab-inner-bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	padding: 20px;
	margin: 30px auto;
	border: 1px solid #FFF;
	border-radius:5px;
-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow:    1px 1px 2px 0px rgba(0, 0, 0, 0.3);
box-shadow:         1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
#tab-1 {
	display: block;
}
.subtn { float:left; width:100%; margin:0 auto;  text-align: center;}
